body{
    border: 1px solid red;
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header input{
    text-align: right;
}

header ul li{
    width: 17.9%;
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
}

header ul li:nth-child(2){
    background: #849c3c;
}

header ul li:nth-child(3){
    background: #353535;
}

header ul li:nth-child(4){
    background: #d33040;
}

header ul li:nth-child(5){
    background: lightgray;
}

.letra-blanca{
    color: white;
}

.letra-gris{
    color: grey;
}


